<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .centered-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .button-gap {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    {% for message in messages %}
     <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="alert">
      <strong>Message:</strong> {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> 
    {% endfor %} 
    
    
    <div class="centered-container">
        <h1>Welcome to Text2Specs AI</h1> 
    {% if user.is_authenticated %} 
    <h2>Hello {{ user.username }}</h2>
    <h2>You're successfully logged in</h2>
    <h3>Choose a category</h3>
        <button class="btn btn-primary"><a href="/pc" class="text-white">PC Building</a></button>
        <div class="button-gap"></div>
        <button class="btn btn-primary"><a href="/laptops" class="text-white">Laptops</a></button>
        <div class="button-gap"></div>
        <button type="submit" class="btn btn-primary" style="background-color: red;">
            <a href="/signout" style="color: white;">Sign Out</a>
        </button> 
    </div>
    {% else %} 
    <p>You're not allowed.</p>
    {% endif %}

    <script>
        // Close the alert after 3 seconds.
        let alert = document.getElementById('alert');
        let timeout = setTimeout(function() {
          alert.style.display = 'none';
        }, 3000);
  
        let close = document.querySelector('.close');
        close.addEventListener('click', function() {
          alert.style.display = 'none';
          clearTimeout(timeout);
        });
      </script>
    
    <!-- Include Bootstrap JS (Optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
